<section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20">
  <h3
    class="mx-auto mb-10 text-balance text-white text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
  >
    Guía de la 3ra Edición de los premios ESLAND
  </h3>

  <lite-youtube
    class="rounded-xl shadow-2xl shadow-white/10"
    videoid="nYPVr2IYTtk"
    videotitle="Guía de la 3ra Edición de los premios ESLAND"></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>
